.container {
    padding: 2rem;
  }
  .header {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
  .header div {
    flex: 1;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
  }
  .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
  }
  .body > * {
    flex: 1;
  }
  .image {
    width: 100px;
  }
  .buttons > * {
    width: auto;
    padding: 0 5px;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
    margin: 0.5rem;
    font-size: 1rem;
  }
  .buttons{
    display: flex;
    justify-content: center;
  }
  .prod__quantity{
    background-color: white;
    color: black;
    font-weight: bold;
  }
  .Shop_btn{
    color: White;
    background-color: Black;
    padding: 10px 20px;
    text-decoration: none;
    float: right;
  }
  .footer_div{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  .cart_buttons_container{
    margin-top: 30px;
    a{
      margin-left: 10px;
    }
  }

  .cta_remove{
    background-color: red;
    outline: 0;
    border: 1px solid red;
    border-radius: 4px;
  }
  
  .total_price{
    margin-right: 80px;
    font-weight: bold;
  }